/* general */
.mC
  color primary
.mC-light
    color primary2

article
    &.mainColor
      background: primary
    &.mainColor1
      background: primary2
    &.mainColor2
      background: primary3

/* Images */

.logo
  background-position: center
  background-repeat: no-repeat
  &--segway
    background-size: 40%
    background-image: url(../images/segway.jpg)

.fullscreen
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  &--starter
    background-size: 50%
    background-image: url("../images/funestdog.jpg")
  &--sitzplan_try
    background-size: 75%
    background-image: url(../images/Sitzplan_try.png)
  &--sitzplan_false
    background-size: 75%
    background-image: url(../images/Sitzplan_false.png)
  &--sitzplan_dg
    background-size: 75%
    background-image: url(../images/Sitzplan_dg.png)
  &--fight
    background-size: 100%
    background-image: url(../images/fight.gif)
  &--future
    background-size: 100%
    background-image: url(../images/future.gif)
  &--oldman
    background-size: 100%
    background-image: url(../images/oldman.jpg)
  &--omg
    background-size: 100%
    background-image: url(../images/omg.gif)
  &--joker
    background-size: 100%
    background-image: url(../images/joker.gif)
  &--familyguy
    background-size: 100%
    background-image: url(../images/familyguy.gif)
  &--marcelo
    background-size: 100%
    background-image: url(../images/marcelo.gif)
  &--clapp
    background-size: 100%
    background-image: url(../images/clapp.gif)
