/* general */
.mC
  color primary
.mC-light
    color primary2

article
    &.mainColorNeutral
      background: #ccc
    &.mainColor
      background: primary
    &.mainColor1
      background: primary1
      a
        color secondarycolor4
    &.mainColor2
      background: primary2
    &.mainColor3
      background: primary3
    &.mainColor4
      background: primary4
    &.mainColor5
      background: altcolor
    &.mainColor6
      background: altcolor1
    &.mainColor7
      background: altcolor2
    &.mainColor8
      background: altcolor3
    &.mainColor9
      background: secondarycolor
    &.mainColor10
      background: secondarycolor1
    &.mainColor11
      background: secondarycolor2
    &.mainColor12
      background: secondarycolor3
    &.mainColor13
      background: secondarycolor4
    &.mainColor14
      background: secondarycolor5
    &.mainColor15
      background: secondarycolor6
    &.mainColor16
      background: secondarycolor7
    &.mainColor17
      background: secondarycolor8
    &.coffee
      background: #C0FFEE
/* Images */
.logo
  background-position: center
  background-repeat: no-repeat
  &--segway
    background-size: 40%
    background-image: url(../images/segway.jpg)

.fullscreen
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  &--starter
    background-size: 50%
    background-image: url(../images/funestdog.jpg)
  &--sitzplan_try
    background-size: 75%
    background-image: url(../images/Sitzplan_try.png)
  &--sitzplan_false
    background-size: 75%
    background-image: url(../images/Sitzplan_false.png)
  &--sitzplan_dg
    background-size: 75%
    background-image: url(../images/Sitzplan_dg.png)
  &--fight
    background-size: 100%
    background-image: url(../images/fight.gif)
  &--future
    background-size: 100%
    background-image: url(../images/future.gif)
  &--oldman
    background-size: 100%
    background-image: url(../images/oldman.jpg)
  &--omg
    background-size: 100%
    background-image: url(../images/omg.gif)
  &--joker
    background-size: 100%
    background-image: url(../images/joker.gif)
  &--familyguy
    background-size: 100%
    background-image: url(../images/familyguy.gif)
  &--marcelo
    background-size: 100%
    background-image: url(../images/marcelo.gif)
  &--clapp
    background-size: 100%
    background-image: url(../images/clapp.gif)
  &--chalkboard
    background-size: 100%
    background-image: url(../images/chalkboard.png)
  &--browser
    background-size: 100%
    background-image: url(../images/browser.jpg)
  &--engineer
    background-size: 50%
    background-image: url(../images/engineer.jpg)
  &--kittenfistbump
    background-size: 100%
    background-image: url(../images/kittenfistbump.jpg)
  &--neverending
    background-size: 100%
    background-image: url(../images/neverending.gif)
  &--kittenfistbump
    background-size: 100%
    background-image: url(../images/kittenfistbump.jpg)
  &--slowclap
    background-size: 100%
    background-image: url(../images/slowclap.gif)
  &--no
    background-size: 100%
    background-image: url(../images/no.gif)
  &--spiderman
    background-size: 100%
    background-image: url(../images/spiderman.jpg)
  &--monk
    background-size: 100%
    background-image: url(../images/monk.gif)
  &--keyframes
    background-size: 100%
    background-image: url(../images/keyframes.jpg)


