// stylus Datei
/*ein Kommentar*/
mainColor = #C0FFEE
mainWidth = 100px
border-radius(w = 20px)
  -webkit-border-radius w
  border-radius w

pad(p=0, m=0)
  padding p
  margin m


body
  background mainColor
  width mainWidth
  color mainColor

  a
    color mainColor
    border-radius(11%)
    pad(5px 0 0 0,  2px 10px)
