doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title SDC - Preprozessoren

    //- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Fira+Mono:400,700')
    <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,700,500,900,400,300' rel='stylesheet' type='text/css'>
    //- link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.fullscreen.fullscreen--starter(data-bespoke-state='emphatic')
    
      section
        h1.bullet Seitenbau Developer Conference
        h2.bullet.small CSS Preprozessoren
  
      section
        h1.bullet Tobias Sailer 
        small.bullet (aka Tobse)
  
      section
        h2 Find me 
        ul.bullet
          li.twitter Twitter 
            small.mC-light  (@tobiassailer)
          li.facebook  Facebook 
            small.mC-light (facebook.com/tobias.sailer.169)
          li.googleplus Google+ 
            small.mC-light (+tobiassailer)
            small.mC-light (Youtube, Maps, Mail, Drive, Picasa, Blogger, Docs)
          li.github Github 
            small.mC-light (kuddl)
          li &hellip;
            small.mC-light (&amp;hellip;)
          li.jira Jira 
            small.mC-light (https://tracker.seitenbau.net/secure/ViewProfile.jspa?name=tsailer)
          li.confluence Confluence 
            small.mC-light (https://confluence.seitenbau.net/display/~tsailer/)
  
      section.fullscreen.fullscreen--sitzplan_try(data-bespoke-state='emphatic')
      
      section.fullscreen.fullscreen--sitzplan_false(data-bespoke-state='emphatic')

      section.fullscreen.fullscreen--sitzplan_dg(data-bespoke-state='emphatic')



      section.fullscreen.fullscreen--fight
          h2.bullet Sass vs Less vs Stylus

      section(data-bespoke-state='mainColor1')
          h2 Sass  
            small 
              a(href="http://sass-lang.com/") http://sass-lang.com/
          ul.bullet
            li Ruby
            li *.sass und *.scss
            li Reichweite / Ecosystem
            li Compass
            li Caching

      section(data-bespoke-state='mainColor1')
          h2 Less  
            small 
              a(href="http://lesscss.org/") http://lesscss.org/
          ul.bullet
            li JavaScript 
            li Node.js und Browser nativ
              small.bullet (DO NOT USE)
            li Implementation in PHP
            li Bootstrap
            

      section(data-bespoke-state='mainColor1')
          h2 Stylus  
            small 
              a(href="http://learnboost.github.io/stylus/") http://learnboost.github.io/stylus/
          ul.bullet
            li Node.js 
            li Node.js Stammspieler
            li Natives JavaScript
            li Transparent Mixins + Syntax

      section(data-bespoke-state='mainColor2')
        h2 Syntax
        pre
          code.language-css.
            /* style.scss or style.less */
            h1 {
              color: #0982C1;
            }
            /* style.sass (ohne klammern)*/
            h1
              color: #0982c1
            /* style.styl */
            h1 {
              color: #0982C1;
            }

      section.fullscreen.fullscreen--omg(data-bespoke-state='mainColor')
        h1 OMG! 
        h2 Keine Interpunktion!

      section(data-bespoke-state='mainColor2')
        h2 Syntax Stylus
        pre
          code.language-css.
            /* style.styl */
            h1 {
              color: #C0FFEE;
            }
            /* ohne Klammern */
            h1
              color: #C0FFEE;
             
            /* ohne striche und punkte */
            h1
              color #C0FFEE


      section.fullscreen.fullscreen--future(data-bespoke-state='mainColor')
          h2.small CSS Variablen
          small.small (coming soon)
      section.fullscreen.fullscreen--oldman(data-bespoke-state='mainColor')


      section.light(data-bespoke-state='mainColor2')
        h2 Variablen
        pre
          code.language-javascript.
            @mainColor : #C0FFEE; //Sass
            $mainColor : #C0FFEE; // Less
            h1 { 
              color: @mainColor;
              color: $mainColor;
            } 
            /* Stylus */
            mainColor = #C0FFEE
            h1
              color mainColor

      section
        h2 Schachteln / Namespacing
        pre
          code.language-css.
            footer { 
              margin: 10px;
            }
            footer nav { 
              height: 25px;
            }
            footer nav a { 
              text-decoration: none;
            }
            footer nav a:hover {
              text-decoration: underline;
            }


      section
        h2 Schachteln Sass, Less und Stylus
        pre
          code.language-css.
            section {
              margin: 10px;
              nav {
                height: 25px;
                a {
                  text-decoration: none;
                  &amp;:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

      section
        h2 Schachteln mit Stylus
        pre
          code.language-javascript.
            section
              margin 10px
              nav
                height 25px
                a
                  text-decoration none
                  &amp;:hover
                    text-decoration underline

      section.fullscreen.fullscreen--joker(data-bespoke-state='emphatic')

      section
        h2 Mixins mit Sass
        pre
          code.language-javascript.
            @mixin msg($borderWidth: 2px, $color: #F00) {
              border: $borderWidth solid $color;
              color: $color;
            }
             
            .generic-error {
              margin: 4px;
              @include msg();
            }
            .login-error {
              position: absolute;
              top: 20px;
              @include msg(5px,papayawhip);
            }

      section
        h2 Mixins mit Less
        pre
          code.language-javascript.
            .msg(@borderWidth: 2px, @color: #F00) {
              border: @borderWidth solid @color;
              color: @color;
            }
             
            .generic-error {
              margin: 4px;
              .msg();
            }
            .login-error {
              position: absolute;
              top: 20px;
              .msg(5px,papayawhip);
            }

      section
        h2 Mixins mit Stylus
        pre
          code.language-javascript.
            msg(borderWidth= 2px, color= #F00)
              border borderWidth solid color
              color color

            .generic-error 
              margin 4px
              msg()

            .login-error
              position absolute
              top 20px
              msg(5px,papayawhip)

      section
        h2 Vererbung / Extend 
        br
        pre
          code.language-javascript.
            red = #E33E1E
            yellow = #E2E21E

            .message
              padding: 10px
              font: 14px Helvetica
              border: 1px solid #eee
            .warning
              @extends .message
              border-color: yellow
              background: yellow + 70%
            .error
              @extends .message
              border-color: red
              background: red + 70%
            .fatal
              @extends .error
              font-weight: bold
              color: red

      section
        h2 Vererbung Ergebnis  
        br
        pre
          code.language-css.
              .message,
              .warning,
              .error,
              .fatal {
                padding: 10px;
                font: 14px Helvetica;
                border: 1px solid #eee;
              }
              .warning {
                border-color: #e2e21e;
                background: #f6f6bc;
              }
              .error,
              .fatal {
                border-color: #e33e1e;
                background: #f7c5bc;
              }
              .fatal {
                font-weight: bold;
                color: #e33e1e;
              }
  

      section
        h2 Small Modules
        pre
          code.language-css
            @import "header.css";
            @import "bildtext.css";
            @import "globalnavi.css";
            @import "navigator.css";
            @import "linkenavi.css";
            @import "footer.css";
            @import "startseite.css";
            @import "sitemap.css";
            @import "glossar.css";
            @import "index_az.css";
            @import "kontakt.css";
            @import "ie-lt-8.css";
            @import "ie-lt-9.css";
            @import "ie-lt-10.css";
            @import "suche.css";
            @import "tabbar.css";
            @import "accordeon.css";
            @import "slider.css";
            @import "recall.css";

      section
        h2 Farben

      section
        h2 Berechnen

      section
        h2 Browser Prefixing

      section
        h2 Grid

      section.logo.logo--segway(data-bespoke-state='emphatic')
      section
        h2 Mixin Bibliotheken





    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
