/* general */
.mC {
  color: primary;
}
.mC-light {
  color: primary2;
}
article.mainColorNeutral {
  background: #ccc;
}
article.mainColor {
  background: primary;
}
article.mainColor1 {
  background: primary1;
}
article.mainColor1 a {
  color: secondarycolor4;
}
article.mainColor2 {
  background: primary2;
}
article.mainColor3 {
  background: primary3;
}
article.mainColor4 {
  background: primary4;
}
article.mainColor5 {
  background: altcolor;
}
article.mainColor6 {
  background: altcolor1;
}
article.mainColor7 {
  background: altcolor2;
}
article.mainColor8 {
  background: altcolor3;
}
article.mainColor9 {
  background: secondarycolor;
}
article.mainColor10 {
  background: secondarycolor1;
}
article.mainColor11 {
  background: secondarycolor2;
}
article.mainColor12 {
  background: secondarycolor3;
}
article.mainColor13 {
  background: secondarycolor4;
}
article.mainColor14 {
  background: secondarycolor5;
}
article.mainColor15 {
  background: secondarycolor6;
}
article.mainColor16 {
  background: secondarycolor7;
}
article.mainColor17 {
  background: secondarycolor8;
}
article.coffee {
  background: #c0ffee;
}
/* Images */
.logo {
  background-position: center;
  background-repeat: no-repeat;
}
.logo--segway {
  background-size: 40%;
  background-image: url("../images/segway.jpg");
}
.fullscreen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fullscreen--starter {
  background-size: 50%;
  background-image: url("../images/funestdog.jpg");
}
.fullscreen--sitzplan_try {
  background-size: 75%;
  background-image: url("../images/Sitzplan_try.png");
}
.fullscreen--sitzplan_false {
  background-size: 75%;
  background-image: url("../images/Sitzplan_false.png");
}
.fullscreen--sitzplan_dg {
  background-size: 75%;
  background-image: url("../images/Sitzplan_dg.png");
}
.fullscreen--fight {
  background-size: 100%;
  background-image: url("../images/fight.gif");
}
.fullscreen--future {
  background-size: 100%;
  background-image: url("../images/future.gif");
}
.fullscreen--oldman {
  background-size: 100%;
  background-image: url("../images/oldman.jpg");
}
.fullscreen--omg {
  background-size: 100%;
  background-image: url("../images/omg.gif");
}
.fullscreen--joker {
  background-size: 100%;
  background-image: url("../images/joker.gif");
}
.fullscreen--familyguy {
  background-size: 100%;
  background-image: url("../images/familyguy.gif");
}
.fullscreen--marcelo {
  background-size: 100%;
  background-image: url("../images/marcelo.gif");
}
.fullscreen--clapp {
  background-size: 100%;
  background-image: url("../images/clapp.gif");
}
.fullscreen--chalkboard {
  background-size: 100%;
  background-image: url("../images/chalkboard.png");
}
.fullscreen--browser {
  background-size: 100%;
  background-image: url("../images/browser.jpg");
}
.fullscreen--engineer {
  background-size: 50%;
  background-image: url("../images/engineer.jpg");
}
.fullscreen--kittenfistbump {
  background-size: 100%;
  background-image: url("../images/kittenfistbump.jpg");
}
.fullscreen--neverending {
  background-size: 100%;
  background-image: url("../images/neverending.gif");
}
.fullscreen--kittenfistbump {
  background-size: 100%;
  background-image: url("../images/kittenfistbump.jpg");
}
.fullscreen--slowclap {
  background-size: 100%;
  background-image: url("../images/slowclap.gif");
}
.fullscreen--no {
  background-size: 100%;
  background-image: url("../images/no.gif");
}
.fullscreen--spiderman {
  background-size: 100%;
  background-image: url("../images/spiderman.jpg");
}
.fullscreen--monk {
  background-size: 100%;
  background-image: url("../images/monk.gif");
}
.fullscreen--keyframes {
  background-size: 100%;
  background-image: url("../images/keyframes.jpg");
}
